label {
  display: block;
}

.custom-input {
  padding-bottom: 1%;
}

.custom-input-error label {
  color: red;
}
.custom-input-error input {
  border: 2px solid red;
  border-radius: 4px;
}

.error {
  color: red;
  margin: 0;
}
.title {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #1d2c2c;
}
.submit-button {
  background-color: #627af0;
  width: 90%;
  color: white;
  font-weight: 900;
}
